# Данные
data/
*.nc
*.zarr
*.h5
*.hdf5

# Python
__pycache__/
*.egg-info/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# Операционные системы
.DS_Store
Thumbs.db

# Логи
*.log

# Временные файлы
*.tmp
*.temp